@import './_root.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    background-color: $color-pale-lavender;
    color: $color-navy-blue;
    display: grid;
    grid-template-columns: minmax(0, 1250px);
    place-content: center;
    min-height: 100vh;
    padding: 3rem;
    
    main {
        .wrapper {
            display: flex;
            flex-direction: column;
            gap: 7rem;
        }
    }
}

@media only screen and (max-width: 767px) {
    body {
        padding: 1.5rem;
    }
}